@import './Semantic.scss';

$input-fill-default: $color-white-master;
$input-fill-default-inverse: $color-neutral-160;
$input-fill-hover: $color-neutral-20;
$input-fill-disable: $color-neutral-20;
$input-border-default: $color-neutral-60;
$input-border-hover: $color-neutral-80;
$input-border-focus: $color-neutral-160;
$radio-fill-selected: $color-white-master;
$checkbox-fill-checked: $color-white-master;
$divider-fill-low-emphasis: $color-black-A08;
$divider-fill-medium-emphasis: $color-black-A16;
$divider-fill-high-emphasis: $color-black-A24;
