$color-white-master: #ffffff;
$color-white-A04: rgba(255, 255, 255, 0.04);
$color-white-A08: rgba(255, 255, 255, 0.08);
$color-white-A12: rgba(255, 255, 255, 0.12);
$color-white-A16: rgba(255, 255, 255, 0.16);
$color-white-A24: rgba(255, 255, 255, 0.24);
$color-white-A32: rgba(255, 255, 255, 0.32);
$color-white-A40: rgba(255, 255, 255, 0.4);
$color-white-A48: rgba(255, 255, 255, 0.48);
$color-white-A64: rgba(255, 255, 255, 0.64);
$color-white-A72: rgba(255, 255, 255, 0.72);
$color-white-A80: rgba(255, 255, 255, 0.8);
$color-white-A96: rgba(255, 255, 255, 0.96);
$color-black-master: #141414;
$color-black-A04: rgba(20, 20, 20, 0.04);
$color-black-A08: rgba(20, 20, 20, 0.08);
$color-black-A12: rgba(20, 20, 20, 0.12);
$color-black-A16: rgba(20, 20, 20, 0.16);
$color-black-A24: rgba(20, 20, 20, 0.24);
$color-black-A32: rgba(20, 20, 20, 0.32);
$color-black-A40: rgba(20, 20, 20, 0.4);
$color-black-A48: rgba(20, 20, 20, 0.48);
$color-black-A64: rgba(20, 20, 20, 0.64);
$color-black-A72: rgba(20, 20, 20, 0.72);
$color-black-A80: rgba(20, 20, 20, 0.8);
$color-black-A96: rgba(20, 20, 20, 0.96);
$color-neutral-10: #fafafa;
$color-neutral-20: #f3f3f3;
$color-neutral-30: #eaeaea;
$color-neutral-40: #e0e0e0;
$color-neutral-50: #d0d0d0;
$color-neutral-60: #c4c4c4;
$color-neutral-70: #b8b8b8;
$color-neutral-80: #a1a1a1;
$color-neutral-90: #898989;
$color-neutral-100: #727272;
$color-neutral-110: #666666;
$color-neutral-120: #5b5b5b;
$color-neutral-130: #434343;
$color-neutral-140: #2c2c2c;
$color-neutral-150: #222222;
$color-neutral-160: #1b1b1b;
$color-neutral-A04: rgba(27, 27, 27, 0.04);
$color-neutral-A08: rgba(27, 27, 27, 0.08);
$color-neutral-A12: rgba(27, 27, 27, 0.12);
$color-neutral-A16: rgba(27, 27, 27, 0.16);
$color-neutral-A24: rgba(27, 27, 27, 0.24);
$color-neutral-A32: rgba(27, 27, 27, 0.32);
$color-neutral-A40: rgba(27, 27, 27, 0.4);
$color-neutral-A48: rgba(27, 27, 27, 0.48);
$color-neutral-A64: rgba(27, 27, 27, 0.64);
$color-neutral-A72: rgba(27, 27, 27, 0.72);
$color-neutral-A80: rgba(27, 27, 27, 0.8);
$color-neutral-A96: rgba(27, 27, 27, 0.96);
$color-brand-10: #ede8f8;
$color-brand-20: #dfd5f1;
$color-brand-30: #cab9e9;
$color-brand-40: #b39bde;
$color-brand-50: #9e7fd6;
$color-brand-60: #845dcb;
$color-brand-70: #6a3bc0;
$color-brand-80-B: #5018b5;
$color-brand-90: #4916a4;
$color-brand-100: #411592;
$color-brand-110: #3a1381;
$color-brand-120: #33116f;
$color-brand-130: #2c105e;
$color-brand-140: #240e4d;
$color-brand-150: #1d0c3b;
$color-brand-160: #160a2a;
$color-brand-A04: rgba(80, 24, 181, 0.04);
$color-brand-A08: rgba(80, 24, 181, 0.08);
$color-brand-A12: rgba(80, 24, 181, 0.12);
$color-brand-A16: rgba(80, 24, 181, 0.16);
$color-brand-A24: rgba(80, 24, 181, 0.24);
$color-brand-A32: rgba(80, 24, 181, 0.32);
$color-brand-A40: rgba(80, 24, 181, 0.4);
$color-brand-A48: rgba(80, 24, 181, 0.48);
$color-brand-A64: rgba(80, 24, 181, 0.64);
$color-brand-A72: rgba(80, 24, 181, 0.72);
$color-brand-A80: rgba(80, 24, 181, 0.8);
$color-brand-A96: rgba(80, 24, 181, 0.96);
$color-green-10: #ecfaf0;
$color-green-20: #d8f5e1;
$color-green-30: #c5f0d2;
$color-green-40: #b1ebc2;
$color-green-50: #9ee5b3;
$color-green-60: #77db95;
$color-green-70: #5ad37e;
$color-green-80-B: #3dcc67;
$color-green-90: #37b85e;
$color-green-100: #32a454;
$color-green-110: #2c914b;
$color-green-120: #277d41;
$color-green-130: #226937;
$color-green-140: #1c562e;
$color-green-150: #174224;
$color-green-160: #122e1a;
$color-green-A04: rgba(61, 204, 103, 0.04);
$color-green-A08: rgba(61, 204, 103, 0.08);
$color-green-A12: rgba(61, 204, 103, 0.12);
$color-green-A16: rgba(61, 204, 103, 0.16);
$color-green-A24: rgba(61, 204, 103, 0.24);
$color-green-A32: rgba(61, 204, 103, 0.32);
$color-green-A40: rgba(61, 204, 103, 0.4);
$color-green-A48: rgba(61, 204, 103, 0.48);
$color-green-A64: rgba(61, 204, 103, 0.64);
$color-green-A72: rgba(61, 204, 103, 0.72);
$color-green-A80: rgba(61, 204, 103, 0.8);
$color-green-A96: rgba(61, 204, 103, 0.96);
$color-red-10: #faeeeb;
$color-red-20: #fae2db;
$color-red-30: #facabd;
$color-red-40: #fab19e;
$color-red-50: #fa957b;
$color-red-60: #fc7754;
$color-red-70: #fe562a;
$color-red-80-B: #ff3500;
$color-red-90: #e63001;
$color-red-100: #cd2c01;
$color-red-110: #b52702;
$color-red-120: #9c2303;
$color-red-130: #831e04;
$color-red-140: #6a1904;
$color-red-150: #511505;
$color-red-160: #391006;
$color-red-A04: rgba(255, 53, 0, 0.04);
$color-red-A08: rgba(255, 53, 0, 0.08);
$color-red-A12: rgba(255, 53, 0, 0.12);
$color-red-A16: rgba(255, 53, 0, 0.16);
$color-red-A24: rgba(255, 53, 0, 0.24);
$color-red-A32: rgba(255, 53, 0, 0.32);
$color-red-A40: rgba(255, 53, 0, 0.4);
$color-red-A48: rgba(255, 53, 0, 0.48);
$color-red-A64: rgba(255, 53, 0, 0.64);
$color-red-A72: rgba(255, 53, 0, 0.72);
$color-red-A80: rgba(255, 53, 0, 0.8);
$color-red-A96: rgba(255, 53, 0, 0.96);
$color-orange-10: #fff8e5;
$color-orange-20: #fff1cc;
$color-orange-30: #ffe9b2;
$color-orange-40: #ffe099;
$color-orange-50: #ffd980;
$color-orange-60: #ffcd4d;
$color-orange-70: #ffc226;
$color-orange-80-B: #ffb700;
$color-orange-90: #eaa801;
$color-orange-100: #d09601;
$color-orange-110: #b58202;
$color-orange-120: #9c7103;
$color-orange-130: #835f04;
$color-orange-140: #6a4d04;
$color-orange-150: #513c05;
$color-orange-160: #392a06;
$color-orange-A04: rgba(255, 183, 0, 0.04);
$color-orange-A08: rgba(255, 183, 0, 0.08);
$color-orange-A12: rgba(255, 183, 0, 0.12);
$color-orange-A16: rgba(255, 183, 0, 0.16);
$color-orange-A24: rgba(255, 183, 0, 0.24);
$color-orange-A32: rgba(255, 183, 0, 0.32);
$color-orange-A40: rgba(255, 183, 0, 0.4);
$color-orange-A48: rgba(255, 183, 0, 0.48);
$color-orange-A64: rgba(255, 183, 0, 0.64);
$color-orange-A72: rgba(255, 183, 0, 0.72);
$color-orange-A80: rgba(255, 183, 0, 0.8);
$color-orange-A96: rgba(255, 183, 0, 0.96);
$color-SP01-10: #f2eaf2;
$color-SP01-20: #e6d5e6;
$color-SP01-30: #d9bfd9;
$color-SP01-40: #c9a6c9;
$color-SP01-50: #ba8dba;
$color-SP01-60: #ab73ab;
$color-SP01-70: #934b93;
$color-SP01-80-B: #802b80;
$color-SP01-90: #742774;
$color-SP01-100: #682468;
$color-SP01-110: #5c205c;
$color-SP01-120: #501d50;
$color-SP01-130: #441944;
$color-SP01-140: #371537;
$color-SP01-150: #2b122b;
$color-SP01-160: #1f0e1f;
$color-SP01-A04: rgba(128, 43, 128, 0.04);
$color-SP01-A08: rgba(128, 43, 128, 0.08);
$color-SP01-A12: rgba(128, 43, 128, 0.12);
$color-SP01-A16: rgba(128, 43, 128, 0.16);
$color-SP01-A24: rgba(128, 43, 128, 0.24);
$color-SP01-A32: rgba(128, 43, 128, 0.32);
$color-SP01-A40: rgba(128, 43, 128, 0.4);
$color-SP01-A48: rgba(128, 43, 128, 0.48);
$color-SP01-A64: rgba(128, 43, 128, 0.64);
$color-SP01-A72: rgba(128, 43, 128, 0.72);
$color-SP01-A80: rgba(128, 43, 128, 0.8);
$color-SP01-A96: rgba(128, 43, 128, 0.96);
$color-SP02-10: #fff2e7;
$color-SP02-20: #ffe5ce;
$color-SP02-30: #ffd8b6;
$color-SP02-40: #ffcb9d;
$color-SP02-50: #ffbe85;
$color-SP02-60: #ffa554;
$color-SP02-70: #ff9130;
$color-SP02-80-B: #ff7e0b;
$color-SP02-90: #e6720b;
$color-SP02-100: #cd660a;
$color-SP02-110: #b55a0a;
$color-SP02-120: #9c4e09;
$color-SP02-130: #834309;
$color-SP02-140: #6a3709;
$color-SP02-150: #512b08;
$color-SP02-160: #391f08;
$color-SP02-A04: rgba(255, 126, 11, 0.04);
$color-SP02-A08: rgba(255, 126, 11, 0.08);
$color-SP02-A12: rgba(255, 126, 11, 0.12);
$color-SP02-A16: rgba(255, 126, 11, 0.16);
$color-SP02-A24: rgba(255, 126, 11, 0.24);
$color-SP02-A32: rgba(255, 126, 11, 0.32);
$color-SP02-A40: rgba(255, 126, 11, 0.4);
$color-SP02-A48: rgba(255, 126, 11, 0.48);
$color-SP02-A64: rgba(255, 126, 11, 0.64);
$color-SP02-A72: rgba(255, 126, 11, 0.72);
$color-SP02-A80: rgba(255, 126, 11, 0.8);
$color-SP02-A96: rgba(255, 126, 11, 0.96);
$color-SP03-10: #fce6ef;
$color-SP03-20: #f8cedf;
$color-SP03-30: #f4aecb;
$color-SP03-40: #f193b8;
$color-SP03-50: #ed78a7;
$color-SP03-60: #e8538f;
$color-SP03-70: #e32e77;
$color-SP03-80-B: #de095f;
$color-SP03-90: #c80956;
$color-SP03-100: #b3094d;
$color-SP03-110: #9d0845;
$color-SP03-120: #88083c;
$color-SP03-130: #730833;
$color-SP03-140: #5d082a;
$color-SP03-150: #480821;
$color-SP03-160: #320719;
$color-SP03-A04: rgba(222, 9, 95, 0.04);
$color-SP03-A08: rgba(222, 9, 95, 0.08);
$color-SP03-A12: rgba(222, 9, 95, 0.12);
$color-SP03-A16: rgba(222, 9, 95, 0.16);
$color-SP03-A24: rgba(222, 9, 95, 0.24);
$color-SP03-A32: rgba(222, 9, 95, 0.32);
$color-SP03-A40: rgba(222, 9, 95, 0.4);
$color-SP03-A48: rgba(222, 9, 95, 0.48);
$color-SP03-A64: rgba(222, 9, 95, 0.64);
$color-SP03-A72: rgba(222, 9, 95, 0.72);
$color-SP03-A80: rgba(222, 9, 95, 0.8);
$color-SP03-A96: rgba(222, 9, 95, 0.96);
$color-SP04-10: #e6f6f5;
$color-SP04-20: #ceeeec;
$color-SP04-30: #b5e3e2;
$color-SP04-40: #9cdad8;
$color-SP04-50: #83d1ce;
$color-SP04-60: #51bfba;
$color-SP04-70: #2cb1ac;
$color-SP04-80-B: #07a39d;
$color-SP04-90: #07938e;
$color-SP04-100: #07847f;
$color-SP04-110: #077470;
$color-SP04-120: #076561;
$color-SP04-130: #075552;
$color-SP04-140: #074543;
$color-SP04-150: #073634;
$color-SP04-160: #072625;
$color-SP04-A04: rgba(7, 163, 157, 0.04);
$color-SP04-A08: rgba(7, 163, 157, 0.08);
$color-SP04-A12: rgba(7, 163, 157, 0.12);
$color-SP04-A16: rgba(7, 163, 157, 0.16);
$color-SP04-A24: rgba(7, 163, 157, 0.24);
$color-SP04-A32: rgba(7, 163, 157, 0.32);
$color-SP04-A40: rgba(7, 163, 157, 0.4);
$color-SP04-A48: rgba(7, 163, 157, 0.48);
$color-SP04-A64: rgba(7, 163, 157, 0.64);
$color-SP04-A72: rgba(7, 163, 157, 0.72);
$color-SP04-A80: rgba(7, 163, 157, 0.8);
$color-SP04-A96: rgba(7, 163, 157, 0.96);
$color-SP05-10: #e7f2fa;
$color-SP05-20: #d4e7f7;
$color-SP05-30: #bbd9f2;
$color-SP05-40: #a5ccee;
$color-SP05-50: #86bce9;
$color-SP05-60: #64a9e3;
$color-SP05-70: #358fda;
$color-SP05-80-B: #0e79d2;
$color-SP05-90: #0d6ebe;
$color-SP05-100: #0d62a9;
$color-SP05-110: #0c5795;
$color-SP05-120: #0b4b81;
$color-SP05-130: #0b406d;
$color-SP05-140: #0a3558;
$color-SP05-150: #092944;
$color-SP05-160: #081e30;
$color-SP05-A04: rgba(14, 121, 210, 0.04);
$color-SP05-A08: rgba(14, 121, 210, 0.08);
$color-SP05-A12: rgba(14, 121, 210, 0.12);
$color-SP05-A16: rgba(14, 121, 210, 0.16);
$color-SP05-A24: rgba(14, 121, 210, 0.24);
$color-SP05-A32: rgba(14, 121, 210, 0.32);
$color-SP05-A40: rgba(14, 121, 210, 0.4);
$color-SP05-A48: rgba(14, 121, 210, 0.48);
$color-SP05-A64: rgba(14, 121, 210, 0.64);
$color-SP05-A72: rgba(14, 121, 210, 0.72);
$color-SP05-A80: rgba(14, 121, 210, 0.8);
$color-SP05-A96: rgba(14, 121, 210, 0.96);
$size-00: 0;
$size-01: 1;
$size-02: 2;
$size-04: 4;
$size-06: 6;
$size-08: 8;
$size-12: 12;
$size-16: 16;
$size-20: 20;
$size-24: 24;
$size-32: 32;
$size-40: 40;
$size-44: 44;
$size-48: 48;
$size-56: 56;
$size-64: 64;
$size-72: 72;
$size-80: 80;
$size-96: 96;
$size-120: 120;
$size-160: 160;
$size-sizeRound: 9999;
// Avatar
$sizeXSmall: 24;
$sizeSmall: 32;
$sizeMedium: 40;
$sizeLarge: 48;
$sizeXLarge: 56;
$sizeHuge: 64;
