@import './Primitive.scss';

$color-background-shell-default: $color-white-master;
$space-0: $size-00;
$space-025: $size-02;
$space-050: $size-04;
$space-075: $size-06;
$space-100: $size-08;
$space-150: $size-12;
$space-200: $size-16;
$space-250: $size-20;
$space-300: $size-24;
$space-400: $size-32;
$space-500: $size-40;
$space-600: $size-48;
$space-700: $size-56;
$space-800: $size-64;
$space-900: $size-72;
$space-1000: $size-80;
$space-1200: $size-96;
$space-1500: $size-120;
$space-2000: $size-160;
$color-background-surface-level-00: $color-white-master;
$color-background-surface-level-01: #000000;
$color-background-surface-level-02: #000000;
$color-background-surface-level-03: #000000;
$color-background-fill-default-resting: $color-neutral-A08;
$color-background-fill-inverse-resting: $color-white-master;
$color-background-fill-inverse-hover: $color-white-A80;
$color-background-fill-inverse-pressed: $color-white-A96;
$color-background-fill-inverse-disable: $color-white-A08;
$color-background-fill-inverse-loading: $color-white-A12;
$color-background-fill-inverse-subtleResting: $color-white-A12;
$color-background-fill-inverse-subtleHover: $color-white-A16;
$color-background-fill-inverse-subtlePressed: $color-white-A24;
$color-background-fill-inverse-ghostHover: $color-white-A08;
$color-background-fill-inverse-ghostPressed: $color-white-A12;
$color-background-fill-default-hover: $color-neutral-A08;
$color-background-fill-default-pressed: $color-neutral-A12;
$color-background-fill-default-disable: $color-neutral-A04;
$color-background-fill-default-loading: $color-neutral-A04;
$color-background-fill-default-subtleHover: $color-neutral-A12;
$color-background-fill-default-subtlePressed: $color-neutral-A16;
$color-text-default-highEmphasis: $color-neutral-160;
$color-text-default-mediumEmphasis: $color-neutral-140;
$color-text-default-lowEmphasis: $color-neutral-100;
$color-text-default-disable: $color-neutral-60;
$color-text-default-inverseHighEmphasis: $color-white-A96;
$color-text-default-inverseMediumEmphasis: $color-white-A80;
$color-text-default-inverseLowEmphasis: $color-white-A72;
$color-text-default-inverseDisable: $color-white-A24;
$color-text-brand-highEmphasis: $color-brand-80-B;
$color-text-brand-mediumEmphasis: #000000;
$color-text-brand-lowEmphasis: $color-brand-60;
$color-text-brand-inverseHighEmphasis: $color-white-master;
$color-text-brand-inverseMediumEmphasis: #000000;
$color-text-brand-inverseLowEmphasis: #000000;
$color-text-brand-inverseDisable: #000000;
$color-icon-default-highEmphasis: $color-neutral-160;
$color-icon-default-mediumEmphasis: $color-neutral-140;
$color-icon-default-lowEmphasis: $color-neutral-100;
$color-icon-default-disable: $color-neutral-50;
$color-icon-default-inverseHighEmphasis: $color-white-A96;
$color-icon-default-inverseMediumEmphasis: $color-white-A80;
$color-icon-default-inverseLowEmphasis: $color-white-A72;
$color-icon-default-inverseDisable: $color-white-A16;
$color-icon-brand-highEmphasis: $color-brand-80-B;
$color-icon-brand-mediumEmphasis: #000000;
$color-icon-brand-lowEmphasis: $color-brand-60;
$color-icon-brand-inverseHighEmphasis: $color-white-master;
$color-icon-brand-inverseMediumEmphasis: #000000;
$color-icon-brand-inverseLowEmphasis: #000000;
$color-icon-brand-inverseDisable: #000000;
$color-background-fill-brand-resting: $color-brand-80-B;
$color-background-fill-brand-hover: $color-brand-70;
$color-background-fill-brand-pressed: $color-brand-100;
$color-background-fill-brand-loading: $color-brand-20;
$color-background-fill-brand-subtleResting: $color-brand-10;
$color-background-fill-brand-subtleHover: $color-brand-20;
$color-background-fill-brand-subtlePressed: $color-brand-30;
$color-background-fill-brand-ghostHover: $color-brand-10;
$color-background-fill-brand-ghostPressed: $color-brand-20;
$color-background-fill-destructive-resting: $color-red-100;
$color-background-fill-destructive-hover: $color-red-90;
$color-background-fill-destructive-pressed: $color-red-110;
$color-background-fill-destructive-loading: $color-red-20;
$color-background-fill-destructive-subtleResting: $color-red-10;
$color-background-fill-destructive-subtleHover: $color-red-20;
$color-background-fill-destructive-subtlePressed: $color-red-30;
$color-background-fill-destructive-ghostHover: $color-red-10;
$color-background-fill-destructive-ghostPressed: $color-red-20;
$color-text-destructive-highEmphasis: $color-red-100;
$color-text-destructive-mediumEmphasis: #000000;
$color-text-destructive-lowEmphasis: $color-red-60;
$color-text-destructive-inverseHighEmphasis: $color-white-master;
$color-text-destructive-inverseMediumEmphasis: #000000;
$color-text-destructive-inverseLowEmphasis: #000000;
$color-text-destructive-inverseDisable: #000000;
$color-icon-destructive-highEmphasis: $color-red-100;
$color-icon-destructive-mediumEmphasis: #000000;
$color-icon-destructive-lowEmphasis: $color-red-60;
$color-icon-destructive-inverseHighEmphasis: $color-white-master;
$color-icon-destructive-inverseMediumEmphasis: #000000;
$color-icon-destructive-inverseLowEmphasis: #000000;
$color-icon-destructive-inverseDisable: #000000;
$color-background-fill-positive-resting: $color-green-120;
$color-background-fill-positive-hover: $color-green-110;
$color-background-fill-positive-pressed: $color-green-130;
$color-background-fill-positive-loading: $color-green-20;
$color-background-fill-positive-subtleResting: $color-green-10;
$color-background-fill-positive-subtleHover: $color-green-20;
$color-background-fill-positive-subtlePressed: $color-green-30;
$color-background-fill-positive-ghostHover: $color-green-10;
$color-background-fill-positive-ghostPressed: $color-green-20;
$color-text-positive-highEmphasis: $color-green-130;
$color-text-positive-mediumEmphasis: $color-green-100;
$color-text-positive-lowEmphasis: $color-green-80-B;
$color-text-positive-inverseHighEmphasis: $color-white-master;
$color-text-positive-inverseMediumEmphasis: #000000;
$color-text-positive-inverseLowEmphasis: #000000;
$color-text-positive-inverseDisable: #000000;
$color-icon-positive-highEmphasis: $color-green-120;
$color-icon-positive-mediumEmphasis: #000000;
$color-icon-positive-lowEmphasis: $color-green-80-B;
$color-icon-positive-inverseHighEmphasis: $color-white-master;
$color-icon-positive-inverseMediumEmphasis: #000000;
$color-icon-positive-inverseLowEmphasis: #000000;
$color-icon-positive-inverseDisable: #000000;
$border-width-0125: $size-01;
$border-width-025: $size-02;
$border-width-050: $size-04;
$border-width-075: $size-06;
$border-width-100: $size-08;
$border-radius-0: $size-00;
$border-radius-025: $size-02;
$border-radius-050: $size-04;
$border-radius-075: $size-06;
$border-radius-100: $size-08;
$border-radius-150: $size-12;
$border-radius-200: $size-16;
$border-radius-250: $size-20;
$border-radius-300: $size-24;
$border-radius-400: $size-32;
$border-radius-infinite: $size-sizeRound;
$color-stroke-default-highEmphasis: $color-neutral-160;
$color-stroke-default-mediumEmphasis: $color-neutral-140;
$color-stroke-default-lowEmphasis: $color-neutral-100;
$color-stroke-default-extraLowEmphasis: $color-neutral-40;
$color-stroke-default-disable: $color-neutral-50;
$color-stroke-default-inverseHighEmphasis: $color-white-A96;
$color-stroke-default-inverseMediumEmphasis: $color-white-A80;
$color-stroke-default-inverseLowEmphasis: $color-white-A72;
$color-stroke-default-inverseExtraLowEmphasis: $color-white-A48;
$color-stroke-default-inverseDisable: $color-white-A16;
$color-stroke-brand-highEmphasis: $color-brand-80-B;
$color-stroke-brand-mediumEmphasis: $color-brand-60;
$color-stroke-brand-lowEmphasis: $color-brand-40;
$color-stroke-brand-inverseHighEmphasis: $color-white-master;
$color-stroke-brand-inverseMediumEmphasis: $color-white-A80;
$color-stroke-brand-inverseLowEmphasis: $color-white-A48;
$color-stroke-brand-inverseDisable: #000000;
$color-stroke-destructive-highEmphasis: $color-red-100;
$color-stroke-destructive-mediumEmphasis: #000000;
$color-stroke-destructive-lowEmphasis: $color-red-40;
$color-stroke-destructive-inverseHighEmphasis: $color-white-master;
$color-stroke-destructive-inverseMediumEmphasis: #000000;
$color-stroke-destructive-inverseLowEmphasis: #000000;
$color-stroke-destructive-inverseDisable: #000000;
$color-stroke-positive-highEmphasis: $color-green-120;
$color-stroke-positive-mediumEmphasis: #000000;
$color-stroke-positive-lowEmphasis: $color-green-60;
$color-stroke-positive-inverseHighEmphasis: $color-white-master;
$color-stroke-positive-inverseMediumEmphasis: #000000;
$color-stroke-positive-inverseLowEmphasis: #000000;
$color-stroke-positive-inverseDisable: #000000;
$color-background-surface-default-extraLowEmphasis: $color-neutral-A04;
$color-background-surface-default-LowEmphasis: #ffffff;
$color-background-surface-default-mediumEmphasis: #ffffff;
$color-background-surface-default-highEmphasis: #ffffff;
$color-background-surface-default-extraHighEmphasis: #ffffff;
$snackbar-default-surface: #fff;
$snackbar-positive-surface: $color-green-120;
$snackbar-destructive-surface: $color-red-100;
// Avatar
$avatar-color-stroke-default: #FFF;
$avatar-color-text-default: #1B1B1B;
$avatar-color-stroke-inverse: rgba(255, 255, 255, 0.96);
$avatar-color-fill-default: #E0E0E0;
$avatar-color-fill-brand: #5018B5;
$avatar-color-fill-sp01: #802B80;
$avatar-color-fill-sp02: #FF7E0B;
$avatar-color-fill-sp03: #DE095F;
$avatar-color-fill-sp04: #07A39D;
$avatar-color-fill-sp05: #0E79D2;
// Quantity Selector
$quantitySelector-border-resting: #C4C4C4;
$quantitySelector-fill-resting: #FFF;
$quantitySelector-border-hover: #B8B8B8;
$quantitySelector-fill-hover: #F3F3F3;
$quantitySelector-fill-focus: #FFF;
$quantitySelector-border-disable: #D0D0D0;
$quantitySelector-fill-disabled: #FFF;
// Tooltip
$tooltip-color-fill-primary: #141414;
$tooltip-color-text-primary: rgba(255, 255, 255, 0.96);
// Basket Summary
$color-stroke-default-minEmphasis: #EAEAEA;
